<header class="site-header">
  <div class="container">
    <a href="{{ "/" | relURL }}" class="site-title">{{ .Site.Title }}</a>
    <nav class="site-nav">
      <a href="{{ "/about/" | relURL }}">About</a>
      <a href="{{ "/now/" | relURL }}">Now</a>
      <a href="{{ "/posts/" | relURL }}">Posts</a>
      <a href="{{ "/stills/" | relURL }}">Stills</a>
      <a href="{{ "/photos/" | relURL }}">Photos</a>
      <a href="{{ "/tags/" | relURL }}">Tags</a>
      <a href="{{ "feed.xml" | relURL }}">RSS</a>
    </nav>
  </div>
</header>
