<article class="photo-card">
  <a href="{{ .RelPermalink }}">
    {{ with .Params.image }}
    {{- partial "image-processed.html" (dict "src" . "alt" $.Title "class" "photo-card-thumbnail" "sizes" "(min-width: 680px) 680px, 100vw" "widths" (slice 480 768)) -}}
    {{ end }}
  </a>
  <h3 class="photo-card-title">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3>
  <div class="photo-card-meta">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
  </div>
</article>
