<article class="still-card">
  <h3 class="still-card-title">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3>
  <div class="still-card-meta">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    {{ with .Params.tags }}
    <span class="post-card-tags">
      {{ range $index, $tag := . }}{{ if $index }}, {{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}/">{{ . }}</a>{{ end }}
    </span>
    {{ end }}
  </div>
  <a href="{{ .RelPermalink }}" class="still-card-image-link">
    {{ with .Params.image }}
    <img src="{{ . }}" alt="{{ $.Title }}" class="still-card-image">
    {{ end }}
  </a>
</article>
